In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dergachi,RU,2021-12-09 21:38:36,51.2328,48.7659,31.50,95,100,6.53
1,1,Dikson,RU,2021-12-09 21:38:36,73.5069,80.5464,-24.79,99,19,4.97
2,2,Punta Arenas,CL,2021-12-09 21:38:09,-53.1500,-70.9167,60.91,41,40,25.32
3,3,Airai,TL,2021-12-09 21:38:37,-8.9266,125.4092,62.65,85,92,1.07
4,4,Petlawad,IN,2021-12-09 21:38:38,23.0000,74.8000,62.24,56,5,10.33

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Atuona,PF,2021-12-09 21:38:39,-9.8000,-139.0333,78.44,63,77,13.96
7,7,Tual,ID,2021-12-09 21:38:39,-5.6667,132.7500,83.82,77,100,20.49
16,16,Rikitea,PF,2021-12-09 21:38:44,-23.1203,-134.9692,75.85,73,86,20.98
17,17,Saint-Philippe,RE,2021-12-09 21:38:45,-21.3585,55.7679,76.59,78,54,9.48
19,19,Sao Joao Da Barra,BR,2021-12-09 21:38:45,-21.6403,-41.0511,75.29,82,79,10.58
20,20,Kandrian,PG,2021-12-09 21:38:46,-6.2167,149.5500,82.17,81,100,4.45
27,27,Kavieng,PG,2021-12-09 21:38:50,-2.5744,150.7967,83.25,81,67,17.27
33,33,Faanui,PF,2021-12-09 21:38:52,-16.4833,-151.7500,81.12,68,43,11.83
34,34,Vaini,TO,2021-12-09 21:38:53,-21.2000,-175.2000,82.56,78,20,8.05
39,39,Hithadhoo,MV,2021-12-09 21:38:55,-0.6000,73.0833,80.62,79,100,10.71

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
6              Atuona      PF     78.44  -9.8000 -139.0333
7                Tual      ID     83.82  -5.6667  132.7500
16            Rikitea      PF     75.85 -23.1203 -134.9692
17     Saint-Philippe      RE     76.59 -21.3585   55.7679
19  Sao Joao Da Barra      BR     75.29 -21.6403  -41.0511
20           Kandrian      PG     82.17  -6.2167  149.5500
27            Kavieng      PG     83.25  -2.5744  150.7967
33             Faanui      PF     81.12 -16.4833 -151.7500
34              Vaini      TO     82.56 -21.2000 -175.2000
39          Hithadhoo      MV     80.62  -0.6000   73.0833

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [50]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Atuona,PF,78.44,-9.8000,-139.0333,Villa Enata
7,Tual,ID,83.82,-5.6667,132.7500,Grand Vilia Hotel
16,Rikitea,PF,75.85,-23.1203,-134.9692,People ThankYou
17,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
19,Sao Joao Da Barra,BR,75.29,-21.6403,-41.0511,Pousada Porto De Canoas
...,...,...,...,...,...,...
539,Honiara,SB,82.62,-9.4333,159.9500,Heritage Park Hotel
544,Manaure,CO,84.31,11.7751,-72.4445,Hotel Palaaima
545,Mareeba,AU,84.33,-17.0000,145.4333,Trinity Plains Tourist Park
546,Boundiali,CI,76.08,9.5217,-6.4869,Hotel Paysan Boundiali
551,San Patricio,US,88.05,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]